*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-image: url('business-card-background.png');
    background-repeat: repeat;
    background-size: contain;

    /* overflow: hidden; */
}
/* the main card container */

.card{
  background-image: url('business-card-skeleton.png');
  margin: 0 auto;
  width:600px;
  height:1050px;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

h1{
  margin-bottom: 0px;
  font-family: 'Pirata One', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  position: relative; 
  top: 10px;
  color: #ffffff;

    top: 200px;
    margin-left:auto;
    margin-right:auto;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Pirata One', sans-serif;
  font-weight: 200;
  text-align: center;
  position: relative; 
  top: 100px;
  color: #ffffff;
} 

.secondary-headers{
  margin-top:200px;
}

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Pirata One', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative; 
  top: 100px;
}
/* How links are styled on page load and also after a link has been visited */
a:link,  a:visited {
  color: #ffffff;
  padding: Top 1000px Down 1000px;
  text-align: center;
  text-decoration: none;
}
a:link, a:visited {
  color: #ffffff;
  padding: Top 300px Down 300px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(255, 238, 4);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
   
    margin: 0 auto;
  }
  
  
  h2{
    font-size: 23px;
    top: 20px;
  } 
  
  h3{
    font-size:17px;
    top: 60px;
  }
  }
  